/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.container { 
  text-align: center; 
}

.social-links a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #444;
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 2px solid #222;
  width: 80px;
}
