/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

.container { 
  text-align: center; 
}

img {
  width: 500px; 
  height: 500px; 
}

.small {
  width: 300px; 
  height: 170px; 
}

@media only screen and (max-width: 500px) {
  img {
    max-width: 100%;
    height: auto
  }
}

.social-links a {
  font-size: 25px;
  padding: 0px 8px;
  text-decoration: none;
  color: #444;
}

hr {
  margin-top: 30px;
  border-width: 0;
  border-top: 2px solid #222;
  width: 100px;
}

button {
  background-color: white;
  color: black;
  width:230px; 
  height:70px; 
  margin:10px; 
  font-size: 15px;
  font-family: "Courier New";
  border: 4px solid black; 
}
